<%- include partials/header2.ejs %>

<div class="row container ">
  <div class="col-sm card horari" dia="1">
    <ul class="list-group">
    <h6 class="card-title">Dilluns
    </h6>
<% docs[1].hour.forEach(function(doc){ %>
    Hora: &nbsp;<%= doc  %> <br>

<% }) %>



  </ul>
  </div>

  <div class="col-sm card horari" dia="2">
    <ul class="list-group">
    <h6 class="card-title">Dimarts
    </h6>
    <% docs[2].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>

  <div class="col-sm card horari" dia="3">
    <ul class="list-group">
    <h6 class="card-title">Dimecres
    </h6>
    <% docs[3].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>

  <div class="col-sm card horari" dia="4">
    <ul class="list-group">
    <h6 class="card-title">Dijous
    </h6>
    <% docs[4].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>

  <div class="col-sm card horari" dia="5">
    <ul class="list-group">
    <h6 class="card-title">Divendres
    </h6>
    <% docs[5].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>
  <div class="col-sm card horari" dia="5">
    <ul class="list-group">
    <h6 class="card-title">Dissabte
    </h6>
    <% docs[6].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>
  <div class="col-sm card horari" dia="5">
    <ul class="list-group">
    <h6 class="card-title">Diumenge
    </h6>
    <% docs[7].hour.forEach(function(doc){ %>
Hora: &nbsp;<%= doc  %> <br>
    <% }) %>
  </ul>
  </div>
  </div>
</div>
